body{
     font-family:
     line-height: 1.6;
     color: #f0f8ff;
     margin: 0.5;
     padding: 25px;
     background-color: #1e90ff;
}

h1{
   color: #7fffd4;
   font-size:  3em;
   border-bottom: 2.5px soloid #dcdcdc;
   pabbing-bottom: 14px;
   margin-bottom: 25px;
}

h2{
   color: #ffff00;
   font-size: 1.9em;
   bakground-color: #fffafa;
   paddibg: 14px;
   border-left: 6px wavy #708090;
   margin-top: 27px;
}

p{
  font-size:  1.4rem;
  margin-bottom: 17px;
}

footer{
       margin-top: 54px;
       text-align: center;
       color: #dc143c;
       font-size: 0.6px;
}