body{
     font-family:
     line-height: 1.6;
     color: #f0f8ff;
     margin: 0.5;
     padding: 25px;
     background-color: #1e90ff;
}

h1{
   color: #7fffd4;
   font-size:  3em;
   border-bottom: 2.5px soloid #dcdcdc;
   pabbing-bottom: 14px;
   margin-bottom: 25px;
}

h2{






}

p{


}

footer{
    
    
    
}